.footer {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
}

.footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.footer-heading-title {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.footer-button-box {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 1rem;
}

.footer-button {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background: transparent;
  word-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
  margin: 2rem 0;
}

.footer-links-group {
  width: 250px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.footer-links-logo {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.footer-logo {
  width: 118px;
  height: 30px;
  margin-bottom: 1rem;
  font-size: 30px;
}

.footer-links-text {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 1rem 0;
}

.footer-links-group-title {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer-links-group-link {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 0.5rem 0;
  cursor: pointer;
}

.footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  .footer-heading-title {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .footer-heading-title {
    font-size: 34px;
    line-height: 42px;
  }
}
